# Python
.venv
__pycache__
*.py[cod]
*$py.class
venv/
env/
.venv/

# Env/Secrets
.env
.env.local
backend/.env
frontend/.env
*.env
!.env.example

# Docker
docker-compose.override.yml

# Node/Frontend
node_modules/
dist/
build/
.parcel-cache/
.vite

# IDE
.vscode/
.idea/
.DS_Store

# Logs
*.log
logs/

# Database
*.db
*.sqlite
Полный кейс VibeJam МСК.pdf
